.App {
  text-align: center;
}

.App .Header {
  background-color: #282c34;
  height: 12vh;
  font-size: calc(10px + 2vmin);
  color: darkgreen;
}

.Header p {
  font-size: 1.3em;
}

.Header .sigmaLogo {
  font-size: 1.6em;
  margin-left: 20px
}

.Header .userSettings {
  margin-right: 20px;
}

.dashboardChart {
  margin: 2em;
}

.underlyingPositions {
  margin: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
