.tooltip {
    background: rgb(239, 239, 239);
    padding: 4px 8px;
    min-height: 160px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    display: none;
}

.popup {
    color: #cccccc;
    background: #373a3c;
    padding: 8px 12px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: none;
}

.tooltipBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.tooltip[data-show], .tooltipBackdrop[data-show], .popup[data-show] {
    display: block;
}

.tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}

.tooltip[data-show], .tooltipBackdrop[data-show], .popup[data-show] {
    display: block;
}

.popup[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

.popup[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

.popup[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

.popup[data-popper-placement^='right'] > #arrow {
    left: -4px;
}

button#closeModal {
    position: absolute;
    top: 110px;
    right: 100px;
}

button.archiveSubmit {
    position: absolute;
    top: 110px;
    right: 10px;
}

.trigger {
    cursor: help;
}